body {
    grid-template-columns: 10% 80% 10%;
    text-align: center;
}

h1{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 0px;
    text-align: center;
}
p{
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 0px;
    text-align: center;
    color: #000000;
}

img{
    display:inline-block;
    height: 50%;
    width: 50%;    
    }