<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="styles.css">
    <title>Zafary</title>
</head>

<body>
    <header class="cabecera-principal"> ZAFARY </header>
    <section class="seccion-principal">
        <section class="menu">
            <section class="submenu" id="botonHome">
                <a href="../Home/index.html" target="contenidourl"><img src="asset/home.png"> Home </a>
            </section>
            <section class="submenu" id="botonWhatzapp">
                <a href="../WhatZapp/index.html" target="contenidourl">
                    <img src="asset/whatsapp.png"> Whatzapp </a>
            </section>
            <section class="submenu" id="botonZpotify">
                <a href="../Zpotify/index.html" target="contenidourl">
                    <img src="asset/spotify.png"> Zpotify </a>
            </section>

        </section>
        <iframe class="contenido-principal" id="contenidourl" name="contenidourl" src="../home/index.html"></iframe>
    </section>
</body>
<script src='index.js'></script>

</html>